In [ ]:
# Data Science Tools and Ecosystem #

In this notebook, Data Science and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Mathplotlib

|Data Science Tools|
|------------------|
|Jupyter NoteBook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expression in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science Tools

## Author ##
Huan Duong